<div data-controller="form-shortcuts form-validation">
  <h3>EDIT ISSUE</h3>

  <%= form_with(model: @issue, 
    local: true, 
    class: "retro-form", 
    data: { form_shortcuts_target: "form" },
    html: { novalidate: true }) do |f| %>
    <div class="form-group">
      <%= f.label :title do %>
        TITLE <span class="required">*</span>
      <% end %>
      <%= f.text_field :title, class: "retro-input", 
          data: { 
            form_validation_target: "title",
            action: "input->form-validation#removeError"
          },
          autofocus:true,
          required: true,
          novalidate: true %>
    </div>

    <div class="form-group">
      <%= f.label :description do %>
        DESCRIPTION <span class="required">*</span>
      <% end %>
      <%= f.text_area :description, class: "retro-input",
          data: { 
            form_validation_target: "description",
            action: "input->form-validation#removeError"
          },
          required: true,
          novalidate: true %>
    </div>

    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, [['To Do', 'todo'], ['In Progress', 'in_progress'], ['Done', 'done']], {}, class: "retro-select" %>
    </div>

    <%= f.submit "SAVE (S)", class: "button" %>
    <%= link_to "CANCEL (C)", project_path(@issue.project), class: "button", data: { form_shortcuts_target: "cancel" } %>
  <% end %>
</div>