<h1>NEW ISSUE</h1>

<%= form_with(model: @issue, local: true, class: "retro-form") do |f| %>
  <%= f.hidden_field :project_id, value: params[:project_id] %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "retro-input" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "retro-input" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, [['To Do', 'todo'], ['In Progress', 'in_progress'], ['Done', 'done']], {}, class: "retro-select" %>
  </div>

  <%= f.submit "CREATE ISSUE", class: "button" %>
  <%= link_to "CANCEL", project_path(params[:project_id]), class: "button" %>
<% end %>