<div data-controller="shortcuts">
  <%= link_to projects_path, class: "button back-button", data: { shortcut: "b" } do %>
    BACK TO PROJECT (B)
  <% end %>

  <h1>EDIT PROJECT</h1>

  <div class="retro-form">
    <%= form_with(model: @project, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "retro-input" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "retro-input" %>
      </div>

      <%= f.submit "UPDATE PROJECT", class: "button" %>
    <% end %>
  </div>
</div>