<div data-controller="shortcuts">
  <%= link_to projects_path, class: "button back-button", data: { shortcut: "b" } do %>BACK TO PROJECT (B)<% end %>

  <h1><%= @project.title %></h1>

  <div class="project-details">
    <p><%= @project.description %></p>
  </div>

  <div class="controls">
    <%= link_to "NEW ISSUE (N)", new_issue_path(project_id: @project.id), class: "button", data: { shortcut: "n" } %>

  <%= form_tag project_path(@project), method: :get, class: "search-form", 
        data: { 
          controller: "search", 
          search_target: "form",
          turbo_frame: "issues_list"
        } do %>
      <%= text_field_tag :search, params[:search], 
      placeholder: "SEARCH ISSUES (S, ESC to clear)...", 
          class: "search-bar",
          data: { 
            action: "input->search#search",
            search_target: "input",
            shortcut: "s"
          } %>
    <% end %>

  <div class="filter-buttons">
    <%= link_to "ALL", project_path(@project), class: "button" %>
    <%= link_to "TO DO", project_path(@project, status: :todo), class: "button" %>
    <%= link_to "IN PROGRESS", project_path(@project, status: :in_progress), class: "button" %>
    <%= link_to "DONE", project_path(@project, status: :done), class: "button" %>
  </div>

</div>

<%= turbo_frame_tag "issues_list" do %>
  <div class="issues-list">
    <% @issues.each do |issue| %>
      <%= render partial: "issue", locals: { issue: issue } %>
    <% end %>
  </div>
<% end %>
